.main_content{
  display:flex;
  flex-direction: column;
  align-items: center;
}

h1{
  padding: 0px;
  margin:0.5em;
}

h2{
  padding: 0px;
  margin:0.3em;
}

p{
  padding: 0px;
  margin:0.2em;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  width: 250px;
  padding: 10px;
}

.ItemContainer{
  background-color:darkslategrey;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.itemListContainer{
  display: flex;
  flex-direction: column;
  align-Items: center;

}

.ItemImg{
  width: 200px;
  margin: 5px;
  border-radius: 4px;
}

/* From uiverse.io by @alexroumi */
.button1 {
  margin: 4px 2px;
  padding: 8px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .button1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .button1:hover {
  color: #e8e8e8;
 }
 
 .button1:hover::before {
  width: 100%;
 }


.loader span {
 font-size: 22px;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 600;
 animation: blur 3s linear infinite;
 line-height: 20px;
 transition: all 0.5s;
 letter-spacing: 0.2em;
}

@keyframes blur {
 0%, 90% {
  filter: blur(0);
 }

 50% {
  filter: blur(10px);
 }
}

/* From uiverse.io by @alexruix */
.card {
  width: 190px;
  height: 254px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 
 .card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
 }
 
 .card-info {
  padding-top: 10%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }
 
 .itemDetail{
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1em;
 }

 .itemDetailPic{
  width: 350px;
  margin: 5px;
 }


 .detailContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:5px;
  width: 100%;
 }

 .table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

 }
 
 .cart{
  color: white;
  text-decoration: none;
 }

.cartForm{
  margin-top: 50px;

  padding: 5px;
  text-align: center;

}

 .inputForm{
  margin: 5px !important;
  background-color: white;
 }